/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 5px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.text-search{
    color: rgb(244, 255, 85);
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.button{
    padding: 2%;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h4{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}
label{
    font-weight: bold;
}

/* CSS for navbar section */
.navbar{
    background-color:#240c45;
}

.logo{
    width: 10%;
    float: left;
    color:#ff4757;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Hostel SEarch Section */

.hostel-search{
    background-image: url(../images/hos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7.5% 0;
}

.hostel-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    
    
}


/* CSS for Hostel menu */
.hostel-menu{
    background-color: #ececec;
    padding: 4% 5% 0% 5%;
}
.hostel-menu-box{
    width: 43%;
    margin: 1%;
    padding: 1%;
    float: left;
    background-color: white;
    border-radius: 15px;
   
}

.hostel-menu-img{
    width: 20%;
    background-position: center;
    float: left;
  
}
.hostel-menu-img:hover{
    transform: scale(3);
}

.hostel-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}


/* CSS for Social */
.footer{
    background-color:#240c45;
    color: #ff4757;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .hostel-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .hostel-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .hostel-menu{
        padding: 20% 0;
    }

    .hostel-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
   
}

.hostel-menu-desc .hiddenTag {
    display: none;
}


