 body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./images/logo.png);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(226, 181, 181, 0.2);
    border-radius: var(--border-radius);
    background: wheat;
}

.formHidden {
    display: none;
}

.container .form .formTitle {
    margin-top: 0;
}

.container .form .formText {
    margin-bottom: 0;
}

.formTitle {
    margin-bottom: 2rem;
    text-align: center;
}

.formMessage {
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}
/* 
.formMessage .formMessageError  {
    display: none;
} */

.formMessage--success {
    color: var(--color-success);
}

.formMessage--error {
    color: var(--color-error);
}

.formInputGroup {
    margin-bottom: 1rem;
}

.formInput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid grey;
    outline: none;
    background: lightgrey;
    transition: background 0.2, border-color 0.2s;
}

.formInput:focus {
    border-color: var(--color-primary);
    background: whitesmoke;
}

.formInput--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.formInputErrorMessage {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.formButton {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.formButton:hover {
    background: var(--color-primary-dark);
}

.formButton:active {
    transform: scale(0.98);
}

.formText {
    text-align: center;
}

.formLink {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.formLink:hover {
    text-decoration: underline;
}

.form-group input[type=checkbox] {

    height: 15px;
}